.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #bc1a1a; /* red background */
    color: white; /* white text color */
  }

 /* increase the font size of the header */

 .header h1 {
    font-size: 100px;
 }




body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 45px;
    background-color: whitesmoke;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid white;
    color: #272522;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

buttonArm {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 300px;
  }

  alt {

    background-color: blue; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 300px;

  }

  buttonDisarm {
    background-color: red; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 300px;
  }

h2 {
    font-family: Georgia, serif;
    border-bottom: 3px solid white;
    color: #272522;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}
