.mainheader {
    padding: 20px;
    margin: auto;
    text-align: center;
    background: #bc1a1a; /* red background */
  }

 .mainheader h1 { /*"Arducopter Controls" title formatting*/
    font-size: 60px;
    font-style: normal;
    font-family: Tahoma, sans-serif;
    color:#340f0f;
 }

 .mainheader h2 { /*Institute for the Wireless Internet of Things*/
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif, serif;
  font-style: italic;
  color:rgb(75, 13, 13);
 }

 .navigationbar { /*navigation bar (controls, instructions, repository)*/
  text-align: center;

  
 }

 .navigationbar u1 {
  font-size: medium;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #631a1a;
 }
 
 .navigationbar li {
  float:right;
}

.navigationbar li a {
  display: block;
  color: rgb(75, 13, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationbar li a:hover {
  background-color: #911d1d;
  color:rgb(255, 255, 255)
}

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 45px;
    background-color: whitesmoke;
    color: #696969;
    padding: 3px;
}

.repopage body header {
  color:aqua;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

#space {
  padding: 0px;
  padding-left:  0px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  color: white;

}


h1 {
    font-family: Georgia, serif;
    color: #272522;
    font-size: 50px;

    /*display: flex;*/
    justify-content: left;
    align-items: left; 
    height: 200px;
}

  alt {

    background-color: blue; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 300px;

  }

h2 {
    font-family: Georgia, serif;
    color: #272522;
    font-size: 50px;

    /*display: flex;*/
    justify-content: left;
    align-items: left; 
    height: 200px;

}
web1 {
  font-family: Georgia, serif;
  opacity: 0;
  font-size: 50px;

  /*display: flex;*/
  justify-content: left;
  align-items: left; 
  height: 200px;
}
hUAV {
  opacity: 0;
}
hStatus {
  opacity: 0;
}